h5 {
  font-style: italic;
}

.nav-bar {
  font-family: Raleway;
  padding: 16px;
  width: 100%;
  background-color: rgb(247, 167, 108);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
